body {
	background: #DDDDDD;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}

#menu{
	margin-top:-8px;
	margin-left:-5px;
	width:1200px;
	padding-left:125px;
	z-index:1500;
	}

nav ul {
	background: #E73134;
	background: linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -moz-linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -webkit-linear-gradient(top, #E73134 0%, #E73134 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover {
	background: white;
}
nav ul li:hover a {
	color: #636363;
}
nav ul li a {
	font-size:19px;
	font-weight:bold;
	display: block;
	padding: 25px 40px;
	color: white;
	text-decoration: none;
}

/*Submenu 1*/
nav ul ul {
	color:white;
	background: #E73134;
	background: linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -moz-linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -webkit-linear-gradient(top, #E73134 0%, #E73134 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
nav ul ul li {
	color:white;
	float: none;
	position: relative;
}

nav ul ul li a {
	color:white;
	background:white;
	font-size:19px;
	font-weight:bold;
	display: block;
	text-decoration: none;
	padding: 15px 40px;
}
nav ul ul li a:hover {
	background: #E73134;
	background: linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -moz-linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -webkit-linear-gradient(top, #E73134 0%, #E73134 100%);
	color:white;
}

/*submenu 2*/
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

/*-----------------------------------------------*/

#menu .current_page_item a {
	background:white;
	color:#636363;
}

#menu .current_page_item ul li a {
	background:white;
	color:#636363;
}

#menu .current_page_item ul li a:hover {
	background: #E73134;
	background: linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -moz-linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -webkit-linear-gradient(top, #E73134 0%, #E73134 100%);
	color:white;
}


/*-----------------------------------------------*/