#content_holder{
	margin-top:-150px;
	margin-left:30px;
	height:750px;
	}
	
.mid{
	width:250px;
	height:400px;
	background:white;
	float:left;
	margin-left:50px;
	box-shadow:2px 2px #848484;	
	padding-bottom:50px;
	}
	
#cont1{
	height:500px;
	}
#cont2{
	height:500px;
	}
#cont3{
	height:500px;
	}
#cont4{
	height:500px;
	}
	
.img_cls{
	margin-left:30px;
	}
	
#content_holder ul{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:justify;
	margin-right:18px;
	color:#353333;
	}
#content_holder h3{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}
#container{
	margin-left:5%;
	margin-top:10%;
	color:#616161;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}
#container p{
	font-size:18px;
	}

/*fixing header*/
#menu {
    position: fixed;
}

/*Footer*/

#footer_home{
	height:80px;
	width:1345px;
	margin-bottom:-20px;
    bottom:0;
	left:-5px;
	position:absolute;
	background: #E73134;
	background: linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -moz-linear-gradient(top, #E73134 0%, #E73134 100%);
	background: -webkit-linear-gradient(top, #E73134 0%, #E73134 100%);
    clear: both;
		}
#wrapper {
	min-height:100%;
	position:relative;
}
#logo{
	margin-right:30px;
	margin-bottom:-23px;
	}	
#cont_div{
	margin-top:100px;
	margin-left:100px;
	}
	
	
	
	