{% load static from staticfiles %}
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'  %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css'  %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.css' %}">
  <script src="{% static 'dist/semantic.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"> </script>
  <script src="{% static 'js/counter.js' %}"></script>
</head>
<body>
  <div id="header">
    <div class="ui inverted segment" id="menu">
      <div class="ui inverted secondary  menu">
        <a class="item" style="font-size:20px;margin-left:50px;" href="index.html">Logo</a>
        <a class="item" style="margin-right:40px;margin-left:70px;" href="../home">
          <i class="big home icon"></i>
          Home
        </a>
        <div class="ui pointing dropdown link item">
          <i class="big help icon"></i>
          <span class="text">Help</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Follow</div>
            <div class="item">About Us</div>
            <div class="item">FAQ's</div>
            <div class="item">Contact Us</div>
          </div>
        </div>
        <a class="item" style="margin-left:30px;">
          <i class="big idea icon"></i>
          How is it work
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
					<a class="ui inverted button" href="/fish/one/showcart/">
            <i class="Add to cart icon"></i>
            Cart(<script>document.write(localStorage.getItem("count"));</script>)
          </a>
					{% if user.is_authenticated %}
						
					{% else %}
						<p>Welcome, Guest <a class="ui item" href="/fish/login">Login</a></p>
					{% endif %}
        </div>
      </div>
    </div>
  </div>
  <div id="reg_div" align="center">
		{% block content %}
			<form action="." method="post" class="ui form">
				<table summary="Register" id="register">
				<h2 class="ui header">
					<div class="content">
						Sign Up For Your Account
					</div>
				</h2>
				{{ form.as_table }}
				{% csrf_token %}
				<tr>
					<th></th>
					<td>
						<input class="ui button" type="submit" name="submit" value="Register" />
					</td>
				</tr>
				</table>
			</form>
		{% endblock %}
  </div>
  <div id="footer">

  </div>
</body>
</html>
