{% load static from staticfiles %}
<html>
<head>
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css'  %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.css' %}">
  <script src="{% static 'dist/semantic.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"> </script>
  <script src="{% static 'js/counter.js' %}"></script>
  <script>
    function temp(z){
      console.log(z);
      $.ajax({
        type:"POST",
        url:"getvalue/",
        data: {
               'id':  z // from form
               },
          success: function(data) {
              console.log("Here");
              //console.log(data[0].id);
              //var obj = JSON.parse(data);
              console.log(data[1].cart_id);
                //data[0].ft
                  //alert(i);

            //  console.log({{data.id}});
              console.log("Here");
            } //end function
        } // end ajax
        );
    }
  </script>
  <script>

        function clicked(x,z) {
          if( x == 1 ){
            $('#one').show();
            $('#two').hide();
            $('#three').hide();
            $('#four').hide();
          }
          else if (x==2) {
            $('#one').hide();
            $('#two').show();
            $('#three').hide();
            $('#four').hide();
          }
          else if (x==3) {
            $('#one').hide();
            $('#two').hide();
            $('#three').show();
            $('#four').hide();
          }
          else if (x==4) {
            $('#one').hide();
            $('#two').hide();
            $('#three').hide();
            $('#four').show();
          }
          else if (x==5) {
            y=document.getElementById("id").value;
          //  {{temp}} = y;
          //temp(y);
          temp(y);
            $('#one_details').show();
          }
      }

      $(document).ready(function() {
        $('#two').hide();
        $('#three').hide();
        $('#four').hide();
        $('#one_details').hide();
      });

</script>
</head>
<body>
  <div id="header">
    <div class="ui inverted segment" id="menu">
      <div class="ui inverted secondary  menu">
        <a class="item" style="font-size:20px;margin-left:50px;" href="index.html">Logo</a>
        <a class="item" style="margin-right:40px;margin-left:70px;" href="#">
          <i class="big home icon"></i>
          Admin
        </a>
        <div class="right menu">
          {% if user.is_authenticated %}
            <a class="ui item" href="/fish/logout/">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar" class="ui visible sidebar inverted vertical menu">
    <a class="item" onclick="clicked(1,0)" href="#">
      View Orders
    </a>
    <a class="item" onclick="clicked(2,0)" href="#">
      Update Fish details
    </a>
    <a class="item" onclick="clicked(3,0)" href="#">
      Add New Fish
    </a>
    <a class="item" onclick="clicked(4,0)" href="#">
      Add News
    </a>
  </div>
  <div class="pusher" id="admin_content">
      <div id="one">
        <table id=cart_items>
          <th>id</th>
          <th>fname</th>
          <th>lname</th>
          <th>address</th>
          <th>landmark</th>
          <th>pincode</th>
          <th>phoneno</th>
          <th>items</th>
            {% for fish_order in order %}
              <tr>
                <td>{{ fish_order.id }}</td>
                <td>{{ fish_order.fname }}</td>
                <td>{{ fish_order.lname }}</td>
                <td>{{ fish_order.address }}</td>
                <td>{{ fish_order.landmark }}</td>
                <td>{{ fish_order.pincode }}</td>
                <td>{{ fish_order.phoneno }}</td>
                <input type="hidden" id="id" value={{ fish_order.cart_id }}/>

                <td><a href="#" id="link1" onclick="clicked(5,0)" >View</a></td>
              </tr>
            {% endfor %}
        </table>

        <div id="one_details">
          <table>
          </table>
        </div>
      </div>
      <div id="two">

      </div>
      <div id="three">

      </div>
      <div id="four">

      </div>
  </div>
  <div id="footer">

  </div>
</body>
</html>
