{% load static from staticfiles %}
<html>
<head>
  <title>Main</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{% static 'js/new_counter.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
  <script src="{% static  'dist/semantic.min.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>
  <script src="{% static 'js/test.js' %}"></script>
  <script src="{% static 'js/counter.js' %}"></script>
  <script src="{% static 'js/new_counter.js' %}"></script>
  <script type="text/javascript">
   var q=0;
      function sum(c)
      {
        if(c!=0){
          q=q+c;
        }
        else{
            document.write(q);
        }
      }
</script>
<script>

function fun(id,type){
  console.log(id);
  console.log(type);
  $.ajax({
       type:"POST",
       url:"deleteitem/",
       data: {
              'item_id':  id ,// from form
              'item_type':  type },
              success: function(){
                          //window.location.assign("/fish/one/showcart/");
                          window.location.href = "/fish/one/showcart/";
                      }
  });
  return false; //<---- move it here
}

</script>
<script>
  localStorage.setItem("count", {{count}});
</script>
</head>
<body>
  <div id="header">
    <div class="ui inverted segment" id="menu">
      <div class="ui inverted secondary  menu">
        <a class="item" style="font-size:20px;margin-left:50px;" href="index.html">Logo</a>
        <a class="item" style="margin-right:40px;margin-left:70px;" href="/fish/home">
          <i class="big home icon"></i>
          Home
        </a>
        <div class="ui pointing dropdown link item">
          <i class="big help icon"></i>
          <span class="text">Help</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Follow</div>
            <div class="item">About Us</div>
            <div class="item">FAQ's</div>
            <div class="item">Contact Us</div>
          </div>
        </div>
        <a class="item" style="margin-left:30px;">
          <i class="big idea icon"></i>
          How is it work
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a class="ui inverted button" href="/fish/one/showcart/">
            <i class="Add to cart icon"></i>
            Cart(<script>document.write(localStorage.getItem("count"));</script>)
          </a>
          <a class="ui item">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
    <div id="cart_container">
      <h4 class="ui horizontal divider header" style="margin-top:150px;">
        <i class="tag icon"></i>
        Cart
      </h4>

      <table class="ui black table" id="cart_table">
        <thead class="full-width">
          <tr>
            <th></th>
            <th>Item</th>
            <th>Price/Kg</th>
            <th>Type</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <td class="collapsing">
              <form method='post' id ='item_del'>
                <input type="hidden" id="item_id" value="{{ item.product.fid }}" />
                <button class="ui icon button"  type='submit' onclick="fun({{ item.product.fid }},'{{ item.ft }}')">
                <i class="big trash icon"></i>
                </button>
              </form>
            </td>
            <td> {{ item.product.fishname }}</td>
            <td>
              {% for f in fish %}
                  {% if item.product == f.fid %}
                    {% if item.ft == "w" %}
                      {{ f.wrate }}
                    {% endif %}
                    {% if item.ft == "cl" %}
                      {{ f.clrate }}
                    {% endif %}
                    {% if item.ft == "cc" %}
                      {{ f.ccrate }}
                    {% endif %}
                  {% endif %}
              {% endfor %}
            </td>
            {% if item.ft == "w" %}
              <td>Whole</td>
            {% endif %}
            {% if item.ft == "cl" %}
              <td>Whole Clean</td>
            {% endif %}
            {% if item.ft == "cc" %}
              <td>Curry Cut</td>
            {% endif %}
            <td>{{ item.quantity }}</td>
            <td id="price">
              <script>
                var a = "{{ item.product.currentrate }}";
                var b = "{{ item.quantity }}";
                var c=a*b;
                document.write(c);
                sum(c);
              </script>
            </td>
          </tr>
          {% endfor %}
          <tr>

        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <a class="ui right floated small black labeled icon button" href="/fish/one/showcart/checkout">
                 <i class="rupee icon"></i>Check out
              </a>
              <button id="cart_clr" class="ui small black button">
                Clear cart
              </button>
              <a class="ui small black button" href="/fish/home">
                Continue
              </a>
            </th>
          </tr>
          <tr>
            <td id="total">Grand Total</td>
            <td>
              <script>sum(0);</script>
            </td>
          </tr>
        </tfoot>
      </table>


    </div>

  <div id="footer">

  </div>
</body>
</html>
