{% load static from staticfiles %}
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'dist/semantic.js' %}"></script>
  <script src="{% static 'js/jquery-1.12.0.js' %}"></script>
</head>
<body>
  <div id="header">
    <div class="ui inverted segment" id="menu">
      <div class="ui inverted secondary  menu">
        <a class="item" style="font-size:20px;margin-left:50px;">Logo</a>
        <a class="item" style="margin-right:100px;margin-left:70px;">
          <i class="big home icon"></i>
          Home
        </a>
        <a class="item">
          <i class="big info icon"></i>
          Help
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <button class="ui inverted button">
            <i class="Add to cart icon"></i>
            Cart
          </button>
          <a class="ui item">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="slider">
    <img id="main_img" src="{% static 'img/img1.jpg' %}" alt="Fish"/>
  </div>
  <div id="container">
    <a class="ui black tag label" style="font-size:20px;margin-bottom:20px;margin-top:20px">Marine Fish</a>
    <div id="marine_fish">
      <div class="ui two column grid">
        {% for fish in all_fish %}
        <div class="column">
          <div class="ui segment">
            <div class="img_wrap">
              <img src="{{ fish.fishurl}}" style="width:480px;height:325px"/>
              <p class="img_desc">{{ fish.fishdesc }}
                <button class="ui black button">cost of fish to be implemented here</button>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <a class="ui black tag label" style="font-size:20px;margin-bottom:20px;margin-top:20px">Fresh water Fish</a>
    <div id="freshwater_fish">
      <div class="ui two column grid">
        {% for fish in fresh_fish %}
        <div class="column">
          <div class="ui segment">
            <div class="img_wrap">
              <img src="{{ fish.picURL }}" style="width:480px;height:325px"/>
              <p class="img_desc">{{ fish.description }}
                <button class="ui black button">See</button>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <a class="ui black tag label" style="font-size:20px;margin-bottom:20px;margin-top:20px">Shell Fish</a>
    <div id="shell_fish">
      <div class="ui two column grid">
        {% for fish in shell_fish %}
        <div class="column">
          <div class="ui segment">
            <div class="img_wrap">
              <img src= "{{ fish.picURL}}"  style="width:480px;height:325px"/>
              <p class="img_desc">{{ fish.description }}
                <button class="ui black button"> <a href="{% url 'fish_market:details'  %}?name={{fish.name}}">see</a></button>
              </p>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
