{% load static from staticfiles %}

<html>
<head>
  <title>Main</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dist/semantic.min.css' %}">
  <script src="{% static 'dist/semantic.min.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>
  <style>
    a{
      color: #ffffff;
    }
  </style>
</head>
<body>
  <div id="header">
    <div class="ui inverted segment" id="menu">
      <div class="ui inverted secondary  menu">
        <a class="item" style="font-size:20px;margin-left:50px;" href="index.html">Logo</a>
        <a class="item" style="margin-right:40px;margin-left:70px;" href="index.html">
          <i class="big home icon"></i>
          Home
        </a>
        <div class="ui pointing dropdown link item">
          <i class="big help icon"></i>
          <span class="text">Help</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Follow</div>
            <div class="item">About Us</div>
            <div class="item">FAQ's</div>
            <div class="item">Contact Us</div>
          </div>
        </div>
        <a class="item" style="margin-left:30px;">
          <i class="big idea icon"></i>
          How is it work
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <button class="ui inverted button">
            <i class="Add to cart icon"></i>
            Cart
          </button>
          <a class="ui item">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="slider">
    <img id="main_img" src="{% static 'img/img1.jpg' %}" alt="Fish"/>
  </div>
  <div id="container">
    <a class="ui black tag label" style="font-size:20px;margin-bottom:20px;margin-top:20px">Marine Fish</a>
    <div id="marine_fish">
      <div class="ui two column grid">
        {% for fish in marine_fish %}
        <div class="column" align="center">
          <div class="ui segment">
            <div class="img_wrap">
              <img src="{{ fish.fishurl}}" style="width:480px;height:325px"/>
              <p class="img_desc">
                <button class="ui black button">
                  <a href="/fish/one/{{ fish.fid }}">See more</a>
                </button>
              </p>
            </div>
          </div>
          <a class="header">{{ fish.fishname}}/Rs{{fish.currentrate}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="ui section divider"></div>
    <a class="ui black tag label" style="font-size:20px;margin-bottom:20px;margin-top:20px">Fresh water Fish</a>
    <div id="freshwater_fish">
      <div class="ui two column grid">
        {% for fish in fresh_fish %}
        <div class="column" align="center">
          <div class="ui segment">
            <div class="img_wrap">
              <img src="{{ fish.fishurl}}" style="width:480px;height:325px"/>
              <p class="img_desc">
                <button class="ui black button">
                  <a href="/fish/one/{{ fish.fid }}">See more</a>
                </button>
              </p>
            </div>
          </div>
          <a class="header">{{ fish.fishname }}/Rs{{fish.currentrate}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="ui section divider"></div>
    <a class="ui black tag label" style="font-size:20px;margin-bottom:20px;margin-top:20px">Shell Fish</a>
    <div id="shell_fish">
      <div class="ui two column grid">
        {% for fish in shell_fish %}
        <div class="column" align="center">
          <div class="ui segment">
            <div class="img_wrap">
              <img src="{{ fish.fishurl}}" style="width:480px;height:325px"/>
              <p class="img_desc">
                <button class="ui black button">
                  <a href="/fish/one/{{ fish.fid }}">See more</a>
                </button>
              </p>
            </div>
          </div>
          <a class="header">{{ fish.fishname }}/Rs{{fish.currentrate}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
</body>
</html>
