.button{
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #fafafa;
  background: #3d3d3d;
  padding: 10px 20px 10px 20px;
}
.inc{
  float: left;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #fafafa;
  background: #3d3d3d;
  padding: 10px 20px 10px 20px;
}
.dec{
  float: left;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #fafafa;
  background: #3d3d3d;
  padding: 10px 20px 10px 20px;
}
.c_val{
  height: 35px;
  width: 40px;
  margin-right: 10px;
  float: left;
}

.inc:hover {
  background: #525252;
  text-decoration: none;
}

.dec:hover {
  background: #525252;
  text-decoration: none;
}
